# Игнорировать всё в корневой директории
/*

# Не игнорировать нужные файлы
!/CMakeLists.txt
!/MyGraph.cpp
!/MyGraph.h
!/README.md
!/main.cpp
!/.gitignore

# Игнорировать все вложенные директории (на всякий случай)
*/